		<div id="main" class="wrapper clearfix">
			<article>
				<header>
					<h1>Previous Sensor Readouts</h1>
					<img src="temperature_celcius_chart.png">
				</header>
			</article>
			<aside>
				<h3>About The Chart</h3>
				<p>Cron will update this chart every 30 minutes. <b>This page is work in progress !</b></p>
			</aside>
		</div> <!-- #main -->
