		<div id="main" class="wrapper clearfix">
			<article>
				<header>
					<h1>Previous Sensor Readouts</h1>
					<img src="temperature_celcius_chart.png">
				</header>
			</article>
			<aside>
				<h3>About The Chart</h3>
				<p>This chart will be updated every 30 minutes. And yes... this is work in progress :-) I guess I need to find a better spot for the sensor.</p>
			</aside>
		</div> <!-- #main -->
