<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%= SOFTWARE_NAME %> <%= SOFTWARE_VERSION %></title>
    <meta name="author" content="Marco Baikhardt">
  </head>
  <body>
    <div>
      <a href="<%= link(:logout) %>">Logout</a>

<%= yield %>

    </div>
  </body>
</html>
